@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ST4MP CRM!</h1>
    <p>Here all customers and shops can be maintained for business purposes.</p>
</div>
